<style>
  .podserviceContainer {
    margin: auto;
    max-width: 70em;
  }

  .podserviceList {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .podservice {
    background-color: var(--secondary-bg-color);
    font-size: 1.5em;
    padding: 0.1em;
    margin: 0.3em;
    width: 13em;
    transition: 0.2s;
    flex-grow: 1;
    max-width: ;
  }

  .podservice:hover {
    background-color: var(--main-border-color);
  }

  .podservice span {
    text-align: center;
    width: 100%;
  }

  .podservice img {
    height: 2em;
    width: 2em;
    margin: 0.5em;
    object-fit: contain;
  }

  .podservice a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--selected-text-color);
  }
</style>