---
layout: default
title: Subscribe
headincludes: subscribestyles.html
---

<div class="podserviceContainer">
  <h1>
    Subscribe
  </h1>

  <div class="podserviceList">
    {% include podservice.html name="Apple Podcasts" image="/assets/applepodcasts.svg" url="https://itunes.apple.com/gb/podcast/gorm/id1390271500?mt=2" %}
    {% include podservice.html name="Google Podcasts" image="/assets/googlepodcasts.png" url="https://podcasts.google.com/?feed=aHR0cDovL2ZlZWQuZ29ybXBvZGNhc3QuY29tL2ZlZWQueG1s" %}
    {% include podservice.html name="Spotify" image="/assets/spotify.png" url="https://open.spotify.com/show/3KZvk7tU66npNNWysdviBd" %}
    {% include podservice.html name="Stitcher" image="/assets/stitcher.png" url="https://www.stitcher.com/podcast/gorm" %}
    {% include podservice.html name="Pocket Casts" image="/assets/pocketcasts.svg" url="https://pca.st/Iku2" %}
    {% include podservice.html name="Overcast" image="/assets/overcast.svg" url="https://overcast.fm/itunes1390271500/gorm" %}
    {% include podservice.html name="RSS" image="/assets/rss.svg" url="http://feed.gormpodcast.com/feed.xml" %}
  </div>
</div>